@model AboutViewModel
@{
    ViewData["BookTitle"] = Model.BookTitle;
    ViewData["Title"] = Model.Title;
    ViewData["BookCopyright"] = Model.BookCopyright;
}

<article class="p-5" id="about-book">
    <div id="about-book-info-container">
        <div id="about-book-info">
            <h1>@ViewData["BookTitle"]</h1>
            <address>
                @Model.Book?.Author
                <span class="text-secondary" style="margin-left: 1rem;">@Model.Publishers</span>
            </address>
            <div class="mb-3">
                @foreach (var tag in Model.Book?.Schema.Package.Metadata.Subjects ?? [])
                {
                    <span class="badge rounded-pill bg-success">@tag.Subject</span>
                }
            </div>
            <p class="text-area mb-0">@Model.Book?.Description</p>
        </div>
        <img id="about-book-cover" src="/resources/@Model.Book?.Content.Cover?.Key" />
    </div>
    <pre class="code-area">@Model.PackageInfo</pre>
    <p class="text-area">@Model.Rights</p>
</article>
